customtkinter
ftfy
pygame
Pillow
CTkListbox
CTkToolTip
ez-localizr
pyglet
# torch - install manually
# torchaudio - install manually
# torchvision - install manually
click
lightning
pandas
textgrid
einops
librosa
omegaconf
hydra-core
h5py
matplotlib
pypinyin
g2pk
openai-whisper
mytextgrid
loguru